*{
    margin:0;
    padding:0;
}

.uppercase{
    text-transform: uppercase;
}
#web-title{
    font-family: "Courier New";
    text-align: center;
    color: teal;
}

.cursive{
    font-family: cursive;
}

#navigation{
    background-image: url("images/1CA63F7E-F4DF-41EB-9409-F1F0E4CA2174.jpg");
    background-position: bottom center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#content{
    padding: 90px;
}

.content h1{
    font-family: cursive;
    color: aliceblue;
    font-size: 100px;
    position: relative;
    padding: center;
    padding-top: 250px;
    padding-bottom: 250px;
}

.content{
    text-align: center;
    padding-top: 50px;
}
.content a{
    color: tomato;
    padding: 10px 100px;
    border: 2px white solid;
}

